
nav{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.container{
 display: flex;
 text-decoration-line: inline; }

.gambar{
  display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


@media(max-width:1109px){
nav #kategori{
display: none;
}

#card{
    margin: 15px;
}

nav input{
    margin:5px;
}
   nav button{
    display: none;
   }

        body{
            background-color: rgb(124, 240, 124);
        }
}

@media(max-width:300px){
nav input{
    display: none;
}
}
