@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Patrick+Hand&display=swap');
@media(max-width:390px){
nav #kategori{
display: none;
}


#gambarSlie{
    display: none;
}

#logo{
    display: none;
}

nav input{
    display:none;


}
}

