@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Patrick+Hand&display=swap');
@media(max-width:1109px){
nav #kategori{
display: none;
}

#gambarSlide{
    display: none;
}

nav input{
    display:none;

}
}


